.time_slider {
  $gap: 20px;

  border-radius: 16px;
  background: #FFF;
  filter: drop-shadow(0px 0px 13.2px rgba(0, 0, 0, 0.29));
  width: 100%;
  display: flex;
  gap: $gap;
  padding: 10px 0;
  overflow-x: auto;

  .time_slot {
    &:first-child {
      margin-left: $gap;
    }

    &:last-child {
      margin-right: $gap;
    }
  }
}

.by_time_outer {
  .button_wrap {
    display: flex;
    gap: 10px;
    margin-top: 10px;

    .time_button {
      border: none;
      background: rgba(255, 255, 255, 0.1);
      padding: 5px 10px;
      font-size: 18px;
      border-radius: 10px;
      color: #cacaca;

      &.active {
        color: #FFF;
        background: rgba(255, 255, 255, 0.35);
      }
    }
  }

}

.time_slot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  .time {
    font-size: 18px;
    font-weight: 400;
  }

  .condition_icon {
    height: 46px;
    width: 46px;
    object-fit: contain;
  }

  .entries_wrap {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .data_entry {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .data_icon {
      height: 18px;
      width: 18px;
    }

    .value_with_unit {
      display: flex;
      align-items: flex-end;

      .value {
        font-size: 18px;
        font-weight: 400;
        min-width: 28px;
        text-align: right;
      }
    }
  }
}

.daily_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .day_block {
    background-color: #FFF;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 16px;
    padding: 6px 13px;

    .date {
      margin-bottom: 5px;
      font-size: 16px;
    }

    .details_text {
      font-size: 12px;
      margin-top: 2px;
    }

    .condition_img {
      height: 36px;
      width: 36px;
    }

    .info {
      .info_points {
        display: grid;
        grid-template-columns: 130px 80px 1fr;
        gap: 10px;
      }

      .value {
        font-weight: 300;
        font-size: 20px;
      }

      .minmax_wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3px;

        .details_icon {
          width: 18px;
          height: 18px;
        }

        .minmax_temp_wrap {
          display: flex;
          align-items: center;

          .temp_wrap {
            display: flex;
            align-content: flex-end;

            .temp_unit {
              margin-top: auto;
            }
          }
        }
      }

      .details_entry {
        display: flex;
        gap: 5px;
        align-items: center;

        .text_unit {
          font-size: 14px;
          margin-left: 5px;
        }
        
        .entry_icon {
          width: 20px;
          height: 20px;
        }

        .percentage_wrap {
          display: flex;
          align-items: flex-end;
        }
      }
    }

  }
}