.location_btn {
  display: flex;
  background: none;
  align-items: center;
  border: none;
  color: #FFF;
  gap: 4px;
  padding: 16px 14px;
  width: 100%;
}

.location_text {
  font-size: 36px;
  font-weight: 400;
}

.location_icon {
  width: 26px;
  height: 26px;
}