@use 'src/styles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

// @mixin respond-to($media) {
//   @if $media == mobile {
//     @media only screen and (max-width: 920px) { @content; }
//   }
// }

.main_app {

  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 100%;
  position: relative;

  @include mixins.respond-to(mobile) {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100lvh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
