@use 'src/styles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.main_app {
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 100%;
  position: relative;

  @include mixins.respond-to(mobile) {
   flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100lvh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.popup {
  $anim_speed: 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;

  &.__open {
    pointer-events: all;

    .shade {
      opacity: 1;
    }

    .search_box {
      opacity: 1;
      transform: none;
    }
  }

  display: flex;
  align-items: center;
  justify-content: center;

  @include mixins.respond-to(mobile) {
    align-items: flex-start;
  }

  .close_popup {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    top: 17px;
    right: 15px;

    .icon {
      color: #000;
      font-size: 24px;
    }
  }

  .search_box {
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 50px;
    opacity: 0;
    transition: opacity $anim_speed, transform $anim_speed;
    transform: scale(0.8);
    display: flex;
    flex-direction: column;

    @include mixins.respond-to(mobile) {
      // margin-top: 30px;
      margin: 30px 10px;
    }

    .submit_btn {
      border: none;
      border-radius: 10px;
      padding: 5px 10px; 
      background-color: #E3E1E1;
      margin-left: auto;
      margin-top: 10px;
      font-size: 14px;
    }

    .search_input {
      background-color: #E3E1E1;
      border: none;
      border-radius: 16px;
      padding: 5px 10px;
      outline: none;
      border: 1px solid #bdbaba;
      transition: border $anim_speed;
      width: 100%;
      box-sizing: border-box;
      margin-top: 5px;
      font-size: 14px;

      &:disabled {
        opacity: 0.7;
      }

      &:focus {
        border: 1px solid #3c3c3c;
      }
    }

    .heading {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      margin-bottom: 12px;
    }
  }

  .shade {
    background-color: rgba($color: #000000, $alpha: 0.3);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s;
  }
}
